*{
    box-sizing:border-box;
}
.nav-button>div {
    transition: background 150ms ease;
}
.active-user, .logo-link{
    transition: background 250ms ease;
}
.nav-button:hover > div, .active-user:hover, .logo-link:hover{
    background: rgba(225, 224, 224, 0.182);
}
.search:focus{
    outline: none;
}
#user-post-input{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color:white;
}
#user-post-input::placeholder{
    color: rgba(211, 211, 211, 0.427);
}
.post-input-icon {
    transition: background 150ms ease;
}

.post-input-icon:hover, #who-can-reply-text:hover{
    background: rgba(85, 188, 248, 0.182);
}